.headerBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d2605d;
    color: #000000;
    padding: 4px 10px;
    border-bottom: 2px solid black;
}

.logo {
    height: 70px;
}

.greeterText {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}

.navButton {
    background: none;
    border: none;
    color: rgb(1, 37, 7);
    cursor: pointer;
    text-decoration: underline;
    padding: 5px;
}