.headerBar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #d96f63;
    color: #000000;
    padding: 4px 10px;
    border-bottom: 2px solid black;
}

.logo {
    height: 70px;
}

.navLinks {
    text-align: right;
}

.navButton {
    font-family: "Metamorphous", serif;
    background: none;
    border: none;
    color: rgb(1, 37, 7);
    cursor: pointer;
    text-decoration: underline;
    padding: 5px;
}

.loggedInName {
    font-family: "Metamorphous", serif;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}